$margin: 1em;
$padding: 1em;

$breakpoint: 60em;

/* colors */
$lightblue: #B5DAFF;
$blue: #000099;
$gray: #8A8A99;
$lightgray: #C2C2D6;
$darkgray: #444;
$white: #FFF;
$black: #000;
$teal: #4E7C92;
$gold: #E6B800;




